name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.16.x, 1.17.x, oldstable, stable ] # Lowest supported and current stable versions.
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Go cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-cache
      - name: Run gofmt
        run: gofmt -d -e . 2>&1 | tee outfile && test -z "$(cat outfile)" && rm outfile
      - name: Run staticcheck
        if: matrix.go-version == 'stable'
        uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 # v1.4.0
        with:
          version: "latest"
          install-go: false
          cache-key: ${{ matrix.go }}

      - name: Run go vet
        run: |
          go vet ./...
          cd _examples && go vet ./... && cd ..
      - name: Run go test
        run: |
          go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
          cd _examples && go test -v -race ./... && cd ..
      - name: Run godog
        run: |
          go install ./cmd/godog
          godog -f progress --strict
      - name: Report on code coverage
        if: matrix.go-version == 'stable'
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
        with:
          file: ./coverage.txt
